.letters {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 10px;
  justify-content: center;
  margin-top: 20px;
}
.letter {
  width: 50px;
  height: 50px;
  margin-left: 2px;
  background-color: blue;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.found {
  background-color: green;
}
.exist {
  background: linear-gradient(
    0deg,
    rgba(179, 76, 1, 1) 0%,
    rgba(255, 108, 0, 1) 100%
  );
}

.hide-last{
  visibility: hidden;
}

@media screen and (max-width: 520px) {
  .letter {
    width: 35px;
    height: 35px;
  }
}
