

.poids {
  padding: 5px 0px;
  border: none;
  box-shadow: 2px 2px 2px rgb(1, 1, 1, 0.5);
  margin-bottom: 15px;
  text-align: right;
  width: 100px;
  font-size: 20px;
  border-radius: 4px;
}
.poids:focus {
  outline-style: none;
}
